@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'Outfit', sans-serif;
  --color-gov-blue: #0f2d59;
  --color-gov-gold: #c5a880;
}

:root {
  font-family: 'Outfit', sans-serif;
}

body {
  font-family: 'Outfit', sans-serif;
  background-color: #f8fafc; /* slate-50 */
  color: #0f172a; /* slate-900 */
}
